{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}

	<section class="bg-register" style="background-image: url('{{ asset('images/bg-register.jpeg') }}');">

		<div class="block_form">
			<div class="groupform">
				<div class="formular">
					<form method="post">
						<h3 class="">Inscrivez-vous !</h3>
						<hr>
						{{form_start(form)}}

						<div class="groupform1">
							<div class="block-input">{{form_row(form.firstname)}}</div>
							<div class="block-input">{{form_row(form.lastname)}}</div>
						</div>
						<div class="groupform2">
							<div class="block-input">{{form_row(form.pseudo)}}</div>
							<div class="block-input">{{form_row(form.email)}}</div>

						</div>
						<div class="block-input">{{form_row(form.password)}}</div>
						{# <div class="form-group-terms">
							<input type="checkbox" id="terms" name="terms">
							<label for="terms">J'accepte vos
								<a href="cgu.html">Conditions d'utilisation</a>
								et votre
								<a href="confidentialite.html">politique de confidentialité</a>, je consens à ce que mes
																	                            données personnelles soient traitées conformément au
								<a href="RGPD.html">RGPD</a>.</label>
						</div> #}
						<input class="btn_register" type="submit" value="Inscription">
						{{form_end(form)}}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
